table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  font-size: large;
}

tr:hover {
  background-color: #d6eeee;
}

.adm-orders h2 {
  color: #000;
  margin: 30px 0;
  padding: 20px 0;
}
.adm-sub-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adm-item-delete {
  width: 100px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #e1256d,
    #eb4492,
    #e104fe,
    #ad3fed
  );
}
.adm-item-delete:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}
.adm-item-delete:focus {
  outline: none;
}
.adm-item-delete.edit {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
}
