.products {
  margin: 0 6%;
}
.products-core {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1400px) {
  .products-core {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1150px) {
  .products {
    margin: 0;
  }
}
@media screen and (max-width: 1300px) {
  .products-core {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 720px) {
  .products-core {
    grid-template-columns: repeat(1, 1fr);
  }
}
.buttonload {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
}
.fa {
  margin-left: -12px;
  margin-right: 8px;
}
.more {
  text-align: center;
}
.load-more {
  background-image: linear-gradient(
    to right,
    #ff7300,
    #ff8929,
    #ffd035,
    #ffce47
  );
}

.load-more {
  width: 180px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  margin-bottom: 10px;
}
.load-more:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}
.load-more:focus {
  outline: none;
}
